/* Global styles */

/* START:mainlayout */
/* Styles for main page */

#banner {
  background: #3C60D5;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 26px "Goudy Old Style", serif;
  color: #fff;
  text-align: center;
}

#banner img {
  float: left;
}

#columns {
  /*background: #141;*/
}

#main {
  margin-left: 17em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#sidebar {
  width: 16em;
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  background: #eee;
}

#sidebar ul {
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
}

#sidebar li {
  list-style-type: none;
}

#sidebar a {
  /*color: #bfb;*/
  font-size: small;
}

#sidebar h2 {
  margin-bottom: 0;
}
/* END:mainlayout */
