<% content_for :title do "GAC Events" end %>

<h3>events</h3>

<table>
  <tr>
    <th>Event/Group</th>
    <th>Location</th>
    <th>Dates</th>
    <th>Status</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to Group.find(event.group_id).name, edit_event_path(event) %></td>
    <td><% if event.location_id %>
          <%= link_to Location.find(event.location_id).name, edit_location_path(event.location_id) %>
        <% end %></td>
    <td><%= render(:partial => "date_range", :object  => event) if event.start_date %></td>
    <td><%= Status.find(event.status_id).status %></td>
  </tr>
<% end %>
</table>