<h3>locations</h3>

<ul>
<% @locations.each do |location| %>
  <% unless location.parent %>
      <%= print_tree(location) %>
  <% end %>
<% end %>
</ul>
<%= link_to 'New Location', new_location_path %>
