<h1>Listing locations</h1>

<ul>
<% @locations.each do |location| %>
  <% unless location.parent %>
      <%= print_location(location) %>
  <% end %>
<% end %>
</ul>

<br />

<%= link_to 'New Location', new_location_path %>
